@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Welcome to my demo CRUD for .NET Core</h3>
    <p>Press link <a href="/Students">Students List</a> to redirect to student page.</p>
</div>
